<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="1" name="PHP Collab">
    <classes>
      <class name="SeleniumTraining.PHP.PhPCollabTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="2" name="Extent Report">
    <classes>
      <class name="SeleniumTraining.PHP.ExtentReportsClass"/>
    </classes>
  </test> <!-- Test -->  
</suite> <!-- Suite -->
